.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.newApp {
  background-color: red;
  width: 100%;
  height: 50px;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

/*test the app*/
.first {
    background-color: aqua;
    width: 100%;
    height: 110px;
    margin-top: 0;
    padding-top: 0;
}

.welcome {
    color: black;
    font-size: medium;
    font-family: Arial, He
    ica, sans-serif;
    font-weight: bolder;
}

.second {
    background-color: aqua;
    width: 100%;
    height: 110px;
    margin-top: 0;
    padding-top: 0;
}
.myabout {
    color: black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.third {
    background-color: aqua;
    width: 100%;
    height: 110px;
    margin-top: 0;
    padding-top: 0;

}

.mycontact {
    color: black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.navigator {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  display: flexbox;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #20ec0d;
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}